<!--The content below is only a placeholder and can be replaced.-->
<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/products'>Product List</a></li> </ul>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="cart"><i class="fas fa-shopping-cart"></i></a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="">Order History</a>
          <a class="dropdown-item" routerLink="">Profile</a>

        </div>
      </div>
      </div>
 
</nav>
<div class='container'>
<router-outlet></router-outlet>
</div>